<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<p th:text="${roomController.getRoomFromName('room').getTempSensors()}"></p>

<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>
        <th>IN STOCK</th>
    </tr>
    <tr th:each="sens : ${roomController.getRoomFromName('room').getTempSensors()}">
        <td th:text="${sens.getName()}">Onions</td>
        <td th:text="${sens.getTemperature()}">2.41</td>
    </tr>
</table>
</body>
</html>